/* =======================================================
   PAINEL INTELIGENTE DE VENDAS
   Tema Principal
======================================================= */


/* =======================================================
   CORES
======================================================= */

:root {
    --background: #0E1117;
    --card: #161B22;

    --text: #FAFAFA;
    --text-secondary: #8B949E;

    --primary: #3B82F6;

    --border: #30363D;
}

/* =======================================================
   TIPOGRAFIA
======================================================= */



/* =======================================================
   SIDEBAR
======================================================= */



/* =======================================================
   KPIs
======================================================= */

[data-testid="stMetricLabel"] {
    font-size: 15px;
    color: var(--text-secondary);
}

[data-testid="stMetricValue"] p {
    font-size: 40px;
    color: var(--text);
    margin: auto;
}

[data-testid="stMetric"] {
    padding: 10px 10px 10px 10px;
}

/* =======================================================
   GRÁFICOS
======================================================= */



/* =======================================================
   TABELAS
======================================================= */